.side-bar-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;

}

@media screen and (max-width: 700px) {


    .side-bar-div {
        width: auto;
    }

    .nav-items,
    .nav-settings {
        ul {
            li {
                p {
                    display: none;
                }
            }
        }

    }

}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.nav-items,
.nav-settings {
    ul {
        margin: 0px;
        padding: 0px;

        li {
            list-style: none;
            font-size: 18px;
            font-weight: light;
            cursor: pointer;

            i {
                flex-basis: 15%;
            }

            p {
                flex-basis: 50%;
            }
        }

        li:not(.remove-hover-action):hover {
            background-color: #fff;
            color: #2366B5;
            border-right: solid 10px #09AE07;
        }

    }

}

.logout-btn {
    color: #2366B5;
    border-radius: 50px;

}