<div class="container content-position bg-light p-4">
  <div
    class="container alert alert-danger"
    *ngIf="(!isLoading && errorMsg) || accountsBalance?.length == 0"
    role="alert"
  >
    Oops !! an error ocuured
  </div>

  <!-- spinner loading -->
  <div
    class="spinner-border text-primary position-center"
    role="status"
    style="width: 3rem; height: 3rem"
    *ngIf="isLoading"
  ></div>
  <div
    class="accounts my-4 p-4 d-flex flex-column gap-md-5"
    *ngIf="!isLoading && accountsBalance?.length != 0"
  >
    <div class="header-title">
      <h2>Welcome Nardine</h2>
    </div>

    <div class="accounts-balance-div">
      <p class="text-secondary fs-4">Accounts Balance</p>
      <div class="d-flex gap-4 flex-wrap">
        <div
          class="balances bg-white rounded-3 border border-light shadow px-5 py-3"
          *ngFor="let account of accountsBalance"
        >
          <h5 class="text-secondary text-center mt-3">
            {{ account.typeOfAccount }}
          </h5>
          <p class="text-center fs-3 text-color-primary fw-bold">
            {{ account.total | number }}
            <span class="fw-light fs-6">{{ account.currency }}</span>
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="accounts-list-div">
      <p class="text-secondary fs-4">Accounts List</p>
      <!-- loop accounts balances  -->
      <div
        class="accounts-details-table my-2"
        *ngFor="let account of accountsBalance"
      >
        <div
          class="title-account bg-primary p-3 rounded-top d-flex justify-content-between px-4"
        >
          <span> {{ account.typeOfAccount }}</span>
          <span
            >Balance {{ account.total | number }}
            <span class="fw-light fs-6">{{ account.currency }}</span>
          </span>
        </div>

        <!-- loop accounts details -->
        <div
          class="rows bg-white shadow border-light rounded"
          *ngIf="
            account.typeOfAccount === 'Current Account' &&
            currentpaginationNumber
          "
        >
          <div
            class="details"
            *ngFor="
              let acc of account.accounts
                | slice: startIndex:currentpaginationNumber
            "
          >
            <div class="account-rows row d-flex justify-content-between p-4">
              <div class="icon col-2">
                <i class="bi bi-bag p-3 icon rounded-circle"></i>
              </div>
              <div class="account-number-div col-md-3 col-6">
                {{ formatAccountNumber(acc.accountNumber) }}
              </div>
              <div class="account-name col-md-2 col-6">
                {{ acc.accountName }}
              </div>
              <div class="available-balance-div col-md-2 col-6">
                {{ acc.availableBalance }} <span>{{ acc.secondCurrency }}</span>
              </div>
              <div class="current-balance-div col-md-2 col-6">
                {{ acc.currentBalance }} <span>{{ acc.secondCurrency }}</span>
              </div>
              <div class="settings-div col-1">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center"
            *ngIf="currentpaginationNumber"
          >
            <button
              *ngIf="currentpaginationNumber < account.accounts.length"
              (click)="loadCurrentMore()"
              class="load-more-btn text-color-primary p-2"
            >
              Load More
            </button>
          </div>
        </div>

        <div
          class="rows bg-white shadow border-light rounded"
          *ngIf="
            account.typeOfAccount === 'Saving Account' && savingpaginationNumber
          "
        >
          <div
            class="details"
            *ngFor="
              let acc of account.accounts
                | slice: startIndex:savingpaginationNumber
            "
          >
            <div class="account-rows row d-flex justify-content-between p-4">
              <div class="icon col-2">
                <i class="bi bi-bag p-3 icon rounded-circle"></i>
              </div>
              <div class="account-number-div col-md-3 col-6">
                {{ formatAccountNumber(acc.accountNumber) }}
              </div>
              <div class="account-name col-md-2 col-6">
                {{ acc.accountName }}
              </div>
              <div class="available-balance-div col-md-2 col-6">
                {{ acc.availableBalance }} <span>{{ acc.secondCurrency }}</span>
              </div>
              <div class="current-balance-div col-md-2 col-6">
                {{ acc.currentBalance }} <span>{{ acc.secondCurrency }}</span>
              </div>
              <div class="settings-div col-1">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center"
            *ngIf="savingpaginationNumber"
          >
            <button
              *ngIf="savingpaginationNumber < account.accounts.length"
              (click)="loadSavingMore()"
              class="load-more-btn text-color-primary p-2"
            >
              Load More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
