/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Sans Serif'
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.bg-primary {
    color: #fff;
    background-color: #2366B5;
}

.text-color-primary {
    color: #2366B5;
}

.content-position {
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    overflow-y: scroll;
}

.position-center {
    position: absolute;
    top: 50%;
    right: 50%;
}